.gameScreen{
  border: 3px solid black;
  padding: 20px;
  background-color: gray;
  /* display: flex; */
}
.tetrisSideBySide{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  width: 60%;
  padding-left: 35%
}
.tetrisBulletinBoard{
  border: 1px solid black;
  background-color: beige;
  width: 100%;
  text-align: center;
  margin:0;
  height: 50px;
  bottom: 0;
  position: relative;
}
.tetrisBoard{
  line-height: 0;
  border: 1px solid black;
  background-color: beige;
  height: 725px;
  width: 398px;
  display: inline-block;
  margin:0;
}
.tetrisSideDisplay{
  float:right;
  line-height: 0;
  border: 1px solid black;
  background-color: beige;
  height: 725px;
  width: 150px;
  text-align: center;
  margin: 0;
}
.tetrisSideDisplayPieceHolders{
  height: 125px;
  width: 125px;
  line-height: 0;
  border: 1px solid black;
  background-color:  white;
  display: inline-block;
  margin:0;
}
.tetrisMiniBlock{
  margin: 0;
  padding: 0;
  border: 1px solid black;
  float:left;
  width: 30.7px;
  height: 30.7px;
  &.tetrisMiniEmptyBlock{
    background-color: white;
  }
  &.tetrisMiniFilledBlock{
    background-color: lightblue;
  }
}
.tetrisSquare{
  border: 1px solid black;
  float:left;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
  &.tetrisEmptySquare{
    background-color: white;
  }
  &.tetrisBorderSquare{
    background-color: black;
  }
  &.tetrisBlockSquare{
    background-color: gray;
  }
  &.tetrisActiveSquare{
    background-color: red;
  }

}
