.ddScreen{
    display: grid;
    // padding-left:
    // height: 600px
    // width 200px;
    line-height: 0;
  }
  .ddSideBySide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 60%;
    padding-left: 35% 
  }
  .ddGameBoard{
    height: 685px;
    width: 294.5px;
    grid-area: 1 / 1 / 2 / 2;
    display: inline-block;
    margin:0;
    border: solid 1px black;
    background-color: #AFFAA0;
  }
  .ddSideDisplay{
    float:right;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
  }
  .tile{
    float: left;
    width: 48.75px;
    height: 48.75px;
    border: solid 1px black;
  }
  .blankTile{
    @extend .tile;
    background-color: gray;
    border: solid 1px red;
  }
  .borderTile{
    @extend .tile;
    background-color: black;
    border: solid 1px blue;
  }
  .whiteTile{
    @extend .tile;
    background-color: white;
    border: solid 1px green; 
  }