.ddScreen{
    display: grid;
    // padding-left:
    // height: 600px
    // width 200px;
    line-height: 0;
  }
  .ddGameBoard{
    height: 602px;
    width: 602px;
    grid-area: 1 / 2 / 2 / 3;
    display: inline-block;
    margin:0;
    border: solid 1px black;
    background-color: #AFFAA0;
  }