.froggerScreen{
  display: grid;
  // padding-left:
  // height: 600px
  // width 200px;
  line-height: 0;
}
.froggerBoards{
  display: inline-block;
  margin:0;
  width: 602px;
  grid-area: 1 / 2 / 2 / 3;
  border: solid 1px black;
}
.froggerTileBoard{
  @extend .froggerBoards;
}
.froggerFrogBoard{
  @extend .froggerBoards;
}
.froggerObjBoard{
  @extend .froggerBoards;
}
.froggerPauseScreen{
  background-color: black;
  color: white;
  visibility: hidden;
}
.froggerTile{
  height: 40px;
  width: 40px;
  // background-color: yellow;
  float: left;
}
.froggerLandTile{
  @extend .froggerTile;
  background-color: #8B4513;
}
.froggerWaterTile{
  @extend .froggerTile;
  background-color: blue;
}
.froggerRoadTile{
  @extend .froggerTile;
  background-color: gray;
}
.froggerRockTile{
  @extend .froggerTile;
  background-color: orange;
}
.froggerLilyPad{
  @extend .froggerTile;
}
.froggerLog{
  @extend .froggerTile;
}
.froggerCar{
  @extend .froggerTile;
}
.froggerFrog{
  @extend .froggerTile;
}
