/* Board Squares */
.snakeScreen{
  display: grid;
  padding-left: 20%
}
%snakeScreenElements{
  border: 1px solid black;
  height: 590px;
  width: 590px;
  grid-area: 1 / 1 / 2 / 2;
}
.gameBoard{
  @extend %snakeScreenElements;
  line-height: 0;
  background-color: beige;
  display: inline-block;
  margin:0;
}
.pauseScreen{
  @extend %snakeScreenElements;
  background-color: black;
  color: white;
  padding-top: 30%;
  visibility: hidden;
}
.bulletinBoard{
  border: 1px solid black;
  background-color: beige;
  width: 100%;
  text-align: center;
  margin:0;
  height: 50px;
  bottom: 0;
  position: relative;
}
.gameScreen{
  border: 3px solid black;
  padding: 20px;
  background-color: gray;
  padding:0;
}
%square{
  border: 1px solid black;
  float:left;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
}
.boardSquare{
  @extend %square;
  background-color: white;
}
.borderSquare{
  @extend %square;
  background-color: black;
}
.simpleSnake{
  @extend %square;
  background-color: green;
}
.simplePrize{
  @extend %square;
  background-color: red;
}
