.wordleColumns{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  width: 100%;
}
.WordleBulletinBoard{
  border: 1px solid black;
  background-color: beige;
  width: 100%;
  text-align: center;
  margin:0;
  bottom: 0;
  position: relative;
  padding: 3px
}
.WordleTextBox{
  border: 1px solid black;
  background-color: beige;
  width: 100%;
  text-align: center;
  margin:0;
  bottom: 0;
  position: relative;
  padding: 3px
}
.WordleGameBoard{
  border: 1px solid black;
  background-color: beige;
  width: 100%;
  text-align: center;
  margin:0;
  height: 500px;
  bottom: 0;
  position: relative;
  padding: 3px
}
.WordleBoxesHolder{
  margin: 10px;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
}
%WordleBox{
  border: 1px solid black;
  height: 48px;
  width: 48px;
  float: left;
}
.WordleMiniBox{
  @extend %WordleBox;
  background-color: white;
}
.WordleGreenBox{
  @extend %WordleBox;
  background-color: green;
}
.WordleYellowBox{
  @extend %WordleBox;
  background-color: yellow;
}
