.App {
  text-align: center;
}
.gameBox{
  display: grid;
  grid-template-columns: auto auto;
  padding: 5%;
  grid-gap: 5%;
  width: 100%;
  padding-left: 15%
}
%blackBox{
  color: white;
  padding-top: 75px;
  opacity: 80%;
  visibility: hidden;
}
.gameImage{
  position: relative;
  width: 350px;
  height: 250px;
  border: 10px solid black;
  background-color: black;
  &.snake{
    grid-area: 1 / 1 / 2 / 2;
    &#snakeWords{
      @extend %blackBox;
    }
  }
  &.tetris{
    grid-area: 1 / 2 / 2 / 3;
    &#tetrisWords{
      @extend %blackBox;
    }
  }
  &.wordle{
    grid-area: 2 / 1 / 3 / 2;
    &#wordleWords{
      @extend %blackBox;
    }
  }
  &.minesweeper{
    grid-area: 2 / 2 / 3 / 3;
    &#mineWords{
      @extend %blackBox;
    }
  }
  &.frogger{
    grid-area: 3 / 1 / 4 / 2;
    &#froggerWords{
      @extend %blackBox;
    }
  }
  &.two048{
    grid-area: 3 / 2 / 4 / 3;
    &#two048Words{
      @extend %blackBox;
    }
  }
}
.pauseText{
  position: relative;
  top: 40%;
}
.confMsg{
  background-color: green;
  color: white;
}
.errMsg{
  background-color: red;
  color: white;
}